Object.assign(Userpage2.prototype, { template1(){ return `
<div class="my-4">
  <div class="row">
    <div class="col-12">
    	
    </div>
  </div>
</div>
`;}});


Object.assign(Userpage2.prototype, { template1(){ return `
<div class="my-4">
  <h5 class="card-title text-center">Du är inloggad som: ${this.user}</h5>
  <div class="row justify-content-center">
    <div class="card col-10">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link pop" href="/mina_sidor">Ordrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pop active" href="/mina_sidor2">Användaruppgifter</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h3 class="mb-2 mt-3">Dina uppgifter:</h5>
        <h5 class="mb-3">Användarnamn: $ {this.user.name}</h5>
        <h5 class="mb-3">Leveransadress: $ {this.user.address}</h5>
        <h5 class="mb-3">Postnummer: $ {this.user.zipcode}</h5>
        <h5 class="mb-3">Ort: $ {this.user.ziparea}</h5>
        <h5 class="mb-3">Mailadress: $ {this.user.email}</h5>
        <h5 class="mb-3">Telefonnummer: $ {this.user.phone}</h5>
        <h5 class="mb-3">Lösenord: $ {this.user.password}</h5>
      </div>
    </div>
  </div>
</div>
`;}});

