//main: style.less
// Styling for the overall page
* {
  outline: none!important;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(75, 78, 75, 0.79);
}

main {
  flex-grow: 1;
}

button {
  cursor: pointer;
  background: @buttonColor;
}
button:hover {
  background: @buttonColor-hover;
}
