//main: style.less
//main: style.less

.placeholder-cart {
  width: 45px;
  height: 40px;
  text-align: center;
}

.set-cursor-pointer {
  cursor: pointer;
}

.cartitem-containers {
  border-radius: 25px;
  background-color: rgb(220,220,220);
  button {
    background-color: @bodyBg-colour;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
  }
  button:hover {
    background-color: @bodyBg-colour + 50;
  }
}

.cartitem-image {
  border-radius: 25px;
}

.form-adress-cart {
  border: 1px solid #a9a9a9;
  height: 40px;
}

.top-form-rounded {
  border-radius: 5px 5px 0 0;
}

.bottom-form-rounded {
  border-radius: 0 0 5px 5px;
}

.payment-card {
  height: 30px;
}

.checkout-summery {
  min-height: 250px;
}

.checkout-buttons {
  position: absolute;
  bottom: 0;
  right: 1em;
}

.form-container, .cart-body {
  background: @bodyBg-colour;
  border-radius: 5px;
  color: rgb(240,240,240);

}

.hover-delete-item {
  color: #be0000 !important;
}

.delete-cart-item {
  cursor: pointer;
}

.cartitem-container-hover {
  box-shadow: inset 0 0 10px 5px #580000;
}
