//main: style.less

.placeholder-cart {
  width: 45px;
  height: 40px;
  text-align: center;
}

.cartitem-containers {
  border-radius: 0.25em;
}

.cartitem-image {
  border-radius: 25px;
}

.form-adress-cart {
  border: 1px solid #a9a9a9;
  height: 40px;
}

.top-form-rounded {
  border-radius: 5px 5px 0 0;
}

.bottom-form-rounded {
  border-radius: 0 0 5px 5px;
}

.payment-card {
  height: 30px;
}

.checkout-summery {
  min-height: 250px;
}

.checkout-buttons {
  position: absolute;
  bottom: 0;
  right: 1em;
}
.card-body {
  padding: 0;
}
.cart-body{
  color: white;
  background-color: #333;
}
