//main: style.less
.line {
    height: 10px;
    width: 100%;
    border-top: 1px solid #94baf0;;
}


.product-avatar{
  border-radius: 0.25em;
  color: white;
  a{
    text-decoration: none;
    color: #94baf0;
    &:hover {
      color: #fff;
    }
  }
}

.lala{
  background: #333;
  padding: 10px;
  border-radius: 2px !important;
}

.picfix {
  max-width: 100%;
  height: auto;
  @media @tablet {
    max-height:30vh;
    display: block;
    margin: 0 auto;
  }
}


