//main: style.less

.order-area, .order-item, .userinfo-area{
  border-bottom: 1px solid white;
  background-color: black;
  a{
  	color:#fff;
  }
  .btn-link{
  	color:#fff;
  }
}

.user-active{
	background-color: #868e96;
	color: #ddd;
}
