Object.assign(ProductCategory.prototype, { template3(){ return `
    <div class="row product-header mt-2">
      <div class="col-12 col-lg-4 mt-2">
        <img src="${this.category.img}" alt="En fin bild på produktkategorin" class="img-fluid">
      </div>
      <div class="col-12 col-lg-8">
        <h2 class="mt-5"> ${this.category.icon} &nbsp; ${this.category.title}</h2>
        <p>${this.category.breadText}</p>
      </div>
      <div class="col-12 my-4">
        <div class="line"></div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <div class="float-right">
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Sortera
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li class="ml-3"><a id="sortPriceLow" href="#">Lägsta pris</a></li>
              <li class="ml-3"><a id="sortPriceHigh" href="#">Högsta pris</a></li>
              <li class="ml-3"><a id="sortNameLow" href="#">A-Ö</a></li>
              <li class="ml-3"><a id="sortNameHigh" href="#">Ö-A</a></li>
              <li class="ml-3"><a id="sortSold" href="#">Mest populära</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row product-body mt-2">${this.myProducts.render()}</div>
    `;}});
