Object.assign(UserpageItem.prototype, { template(){ return `
	<div class="card order-item">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse${this.co}" aria-expanded="false" aria-controls="collapse${this.co}">
          <h5>Beställning #${this.product.orderno}</h5>
        </button>
      </h5>
    </div>
    <div id="collapse${this.co}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h5><b>Ordern är: ${this.product.status}</b></h5>
      	<h5>${this.product.products.length == 1 ? 'Produkt' : 'Produkter'}: ${this.product.products}</h5>
        <h5>Beställd: ${this.product.orderdate}</h5>
        <h5 class="mb-4">Totalpris: ${this.product.price}</h5>
      </div>
    </div>
  </div>
`;}});





