Object.assign(CartItem.prototype, { template(){ return `

  <div class="bg-light d-flex text-dark align-items-center mt-3 p-2 cartitem-containers">
    <div class="picture-cart col-4 col-md-2 p-0"><img class="img-fluid cartitem-image" src="${this.imageLink}"></div>
    <div class="col-8 col-md-10 p-0">
    <div class="info-cart col-12 d-flex p-0 pl-3">
      <div class="d-flex flex-column">
        <h4>${this.title}</h4>
        <p class="m-0">${this.description}</p>
        <p class="text-muted m-0">Artikelnr: ${this.artNumber}</p>

      </div>
      <p class="fas fa-times align-self-start mr-2 mt-2 m-0 ml-auto delete-cart-item"></p>
    </div>

    <div class="col-12 d-flex justify-content-between p-0 pl-3 mt-2">
      <div class="btn-group d-flex" role="group" aria-label="">
        <button type="button" class="btn btn-cart btn-cart-width p-0 cart-item-button-minus" data-id=${this._id}>-</button>
        <input disabled type="text" class="form-control btn-cart-width" placeholder="${this.quantity}">
        <button type="button" class="btn btn-cart btn-cart-width p-0 cart-item-button-plus" data-id=${this._id}>+</button>
      </div>
      <div class="d-flex flex-column align-items-end">
        ${this.stockWarning ? `
        <div class="bg-warning alert-warning p-2">Obs! Endast ${this.stockBalance} kvar</div>` : `I lager ${this.stockBalance < 5 ? `${this.stockBalance}` : ''}`}
        <h4 class="text-danger">${this.price} kr</h4>
        <p class="text-muted">Varav moms: ${this.getVatPerItem()} kr</p>
      </div>
    </div>
    </div>
  </div>

`;}});
