Object.assign(CartItem.prototype, { template(){ return `

  <div class="text-dark d-flex flex-column flex-md-row align-items-center mt-1 pl-3 pr-3 pt-2 pb-0 cartitem-containers">
    <div class="picture-cart col-4 col-md-2 p-0"><img class="img-fluid cartitem-image" src="${this.imageLink}"></div>
    <div class="col-12 col-md-10 p-0">
    <div class="info-cart col-12 d-flex p-0 pl-md-4">
      <div class="d-flex flex-column">
        <h4 class="mt-3">${this.title}</h4>
        <p class="m-0">${this.description}</p>
        <p class="text-muted m-0">Artikelnr: ${this.artNumber}</p>

      </div>
      <p class="fas fa-times align-self-start mr-2 mt-2 m-0 ml-auto delete-cart-item"></p>
    </div>

    <div class="col-12 d-flex justify-content-between p-0 pl-md-4 mt-2 mb-2 flex-column flex-md-row">
      <div class="btn-group d-flex addminus" role="group" aria-label="">
        <button type="button" class="btn p-2 cart-item-button-minus fas fa-minus" data-id=${this._id}> </button>
        <input disabled type="text" class="form-control placeholder-cart" placeholder="${this.quantity}">
        <button type="button" class="btn p-2 cart-item-button-plus fas fa-plus" data-id=${this._id}> </button>
      </div>
      <div class="d-flex flex-column align-items-end mr-2">
        ${this.stockWarning ? `
        <div class="bg-warning alert-warning p-2">Obs! Endast ${this.stockBalance} kvar</div>` : `I lager ${this.stockBalance < 5 ? `${this.stockBalance}` : ''}`}
        <p class="m-0">${this.price} kr / st</p>
        <h4 class="text-danger mb-0">Totalt: ${this.getTotalPrice()} kr</h4>
      </div>
    </div>
    </div>
  </div>

`;}});
