Object.assign(ProductPage.prototype, { template(){ return `
	<div class="row m-4">
		<div class="col-6">
			<img src="./img/darkside.jpg" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-6">
			<div class="card">
				<div class="card-header">
					<h2 class="card-title align-self-center py-2 m-0">Mörka sidan vol. I</h2>
				</div>
				<div class="card-body">
					<h4 class="card-text font-weight-light">Pris: <span class="font-weight-bold">199 SEK</span></h4>
					<p class="card-text d-lg-inline mr-lg-4 text-muted">Lagerstatus 8</p>
					<a href="#" class="btn btn-primary float-right">Köp</a>
				</div>
				</div>
				<div class="card mt-4">
				<div class="card-header">
					Produktbeskrivning
				</div>
				<div class="card-body">
					<p class="card-text">Första boken där författaren introducerar läsaren i den mörka sidan av kraften.</p>
					
				</div>
				</div>
		</div>
	</div>
`;}});
