Object.assign(ProductPage.prototype, { template(){ return `
	<div class="row m-4">
		<div class="col-6">
			<img src="${this.productSelected[0].imageLink}" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-6">
			<div class="card">
				<div class="card-header">
					<h2 class="card-title align-self-center py-2 m-0">${this.productSelected[0].title}</h2>
				</div>
				<div class="card-body">
					<h4 class="card-text font-weight-light">Pris: <span class="font-weight-bold">${this.productSelected[0].price} SEK</span></h4>
					<p class="card-text d-lg-inline mr-lg-4 text-muted">Lagerstatus: ${this.productSelected[0].stockBalance}</p>
					<a href="#" class="btn btn-primary float-right">Köp</a>
				</div>
				</div>
				<div class="card mt-4">
				<div class="card-header">
					Produktbeskrivning
				</div>
				<div class="card-body">
					<p class="card-text">
						${this.productSelected[0].description}
					</p>
					
				</div>
				</div>
		</div>
	</div>
`;}});
