Object.assign(About.prototype, { template(){ return `
   <div class="row my-4">
       <div class="row">
           <div class="col-12">
                <h1><u>Om oss</u></h1>
           </div>
           <div class="col-12">
               <p >Dajmmans är det bästa Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi odio mollitia quos, exercitationem fugiat laudantium ipsam repellat quis fugit velit, voluptatem dolor. Minus tenetur quo qui velit cum saepe quia.</p>
           </div>
       </div>
       <div class="row my-4 py-4 d-flex align-items-center w-100">
            <div class="col-6">
                <p>Vi har allt materiel som du kan tänkas behöva till dom bästa priserna på webben.</p>
            </div>
            <div class="col-6 text-center">
                <i class="fas fa-6x fa-quidditch"></i>
            </div>
       </div>
       <div class="row my-4 py-4 d-flex align-items-center w-100">
            <div class="col-6 text-center">
                <i class="fas fa-6x fa-book"></i>
            </div>
            <div class="col-6">
                <p>Här hos Dajmmans erbjuder vi det mest unika utbudet av böcker för den magiska världen. Vårt utbud utökas kontinuerligt, så skulle vi inte ha en produkt på lager så kontakta oss via mail eller telefon.</p>
            </div>
       </div>
       <div class="row my-4 py-4 d-flex align-items-center w-100">
            <div class="col-6">
                <p>För att kunna utföra dom mest magiska trollformlerna behöver man bra ingredienser. Och då finns Dajmman för dig, vi har ett stort utbud av dom mest sällsynta produkterna. Skulle det vara så att något saknas så kontakta Dajmman så hör vi med våra kontakter.</p>
            </div>
            <div class="col-6 text-center">
                <i class="fas fa-6x fa-magic"></i>
            </div>
       </div>
       
   </div>
    

    

    
`;}});
