Object.assign(About.prototype, { template(){ return `
   <div class="my-4 lala">
       <div class="row">
           <div class="col-12 my-2 px-4">
                <h2>Om oss</h2>
           </div>
           <div class="col-12 my-2 px-4">
               <p >
                Dajmanns började ödmjukt tillbaka i december 2010 med bara ett fåtal få produkter, i synnerhet självhäftande ljusetiketter med Haiti Vodou, Docteur Cælis initierade religion, och det var här butiken fick sitt namn.
                Med tiden började produktlinjen expandera till att omfatta artiklar relaterade till hoodoo, conjure, häxverk och produkter med hedniska gudar som representerar Hellfurians religion och började förvandla från en butik som har ca 5 produkter att presentera över 1000. Våra ljusetiketter och bönekort har kunnat fylla behovet av många andra religioner och har traditionella böner sammanställda med hjälp av experter inom dessa religioner, initierade präster och forskare som specialiserat sig på dessa områden.
                Våra arbetsprodukter, som våra bad, rökelse, gnistrande gnagare, dirts, pudderpulver, grisgris, colognes och oljor mm, är noggrant handgjorda och uppfyller de religioner vi har erfarenhet och kunskap. 
                </p>
           </div>
       </div>
       <div class="row">
        <div class="col-12 col-6 text-center my-3">
            <i class="fas fa-6x fa-quidditch awesomeness"></i>
        </div>
            <div class="col-12 col-6">
                <p>Vi har allt materiel som du kan tänkas behöva till dom bästa priserna på webben.</p>
            </div>
       </div>
       <div class="row">
            <div class="col-12 col-6 text-center my-3">
                <i class="fas fa-6x fa-book awesomeness"></i>
            </div>
            <div class="col-12 col-6">
                <p>Här hos Dajmmans erbjuder vi det mest unika utbudet av böcker för den magiska världen. Vårt utbud utökas kontinuerligt, så skulle vi inte ha en produkt på lager så kontakta oss via mail eller telefon.</p>
            </div>
       </div>
       <div class="row">
            <div class="col-12 col-6">
                <p>För att kunna utföra dom mest magiska trollformlerna behöver man bra ingredienser. Och då finns Dajmman för dig, vi har ett stort utbud av dom mest sällsynta produkterna. Skulle det vara så att något saknas så kontakta Dajmman så hör vi med våra kontakter.</p>
            </div>
            <div class="col-12 col-6 text-center my-3">
                <i class="fas fa-6x fa-magic awesomeness"></i>
            </div>
       </div>
       
   </div>
    
`;}});
