Object.assign(Footer.prototype, { template(){ return `
  
  <div class="row justify-content-center"> 
      
      <div class="col-3 my-3">
        <h5>Om Dajmmans</h5>  
        <ul class="list-unstyled">
          <li><a href="#">Om oss</a></li>
          <li><a href="#">Köpvillkor</a></li>
        </ul>
      </div>
      
      <div class="col-3 my-3">
        <h5>Sociala Medier</h5>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>        
      </div>
      
      <div class="col-3 my-3">
        <h5>Kontaktuppgifter</h5>
        <ul class="list-unstyled">
          <li>Tel: 0769-666-666</li>
          <li>Email: <a href="mailto:dajmmans@gmail.com"></a></li>
          <li></li>
        </ul>
      </div>

  </div>

`;}});
