Object.assign(Footer.prototype, { template(){ return `

  <div class="row justify-content-around bg-dark text-light"> 

      <div class="col-7 col-sm-3 my-3">
        <div class="pl-sm-0 ml-sm-0 text-center text-sm-left">
          <h6>Om Dajmmans</h6>
          <ul class="list-unstyled">
            <li><a href="#">Om oss</a></li>
            <li><a href="#">Köpvillkor</a></li>
          </ul>
        </div>
      </div>

      <div class="col-7 col-sm-3 my-3">
        <div class="pl-sm-0 ml-sm-0 text-center text-sm-left">
          <h6>Sociala Medier</h6>
          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
      </div>

      <div class="col-7 col-sm-3 my-3">
        <div class="pl-sm-0 ml-sm-0 text-center text-sm-left">
          <h6>Kontaktuppgifter</h6>
          <ul class="list-unstyled">
            <li class="d-inline-block"><a class="d-inline" href="tel:0769-666-666">0769-666-666</a></li>
            <li><a href="mailto:dajmmans@gmail.com">dajmmans@gmail.com</a></li>
          </ul>
        </div>
      </div>

  </div>

`;}});
