Object.assign(Banner.prototype, { template(){ return `

<div id="banner" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner text-center">

    <div class="carousel-item active">
      <img class="d-inline-block w-75 img-fluid banner" src="/img/banner/voodoo.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-inline-block w-75 img-fluid banner" src="/img/banner/cauldron.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-inline-block w-75 img-fluid banner" src="/img/banner/skulls2.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-inline-block w-75 img-fluid banner" src="/img/banner/skulls3.jpg" alt="Fourth slide">
    </div>

  </div>
</div>
  
`;}});