Object.assign(Banner.prototype, { template(){ return `

<div id="banner" class="carousel slide w-100" data-ride="carousel">
  <div class="carousel-inner text-center">

    <div class="carousel-item active w-75 mx-auto">
      <img class="d-inline-block img-fluid" src="/img/banner/voodoo.jpg" alt="First slide">
    </div>
    <div class="carousel-item w-75 mx-auto">
      <img class="d-inline-block img-fluid" src="/img/banner/cauldron.jpg" alt="Second slide">
    </div>
    <div class="carousel-item w-75 mx-auto">
      <img class="d-inline-block img-fluid" src="/img/banner/skulls2.jpg" alt="Third slide">
    </div>
    <div class="carousel-item w-75 mx-auto">
      <img class="d-inline-block img-fluid" src="/img/banner/skulls3.jpg" alt="Fourth slide">
    </div>

  </div>
</div>
  
`;}});