Object.assign(Admin.prototype, { template2(){ return `
    <li class="list-group-item p-0">
        <div class="row orderItem admin-item p-0 m-0" data-toggle="collapse" data-target="#${this.order._id}" id="item-${this.order._id}" value="Open">
            <div class="col-2 itemContainer muteContent">
                <p class="itemContent">${this.order.orderno}</p>
            </div>
            <div class="col-3 itemContainer muteContent">
                <p class="itemContent">${this.order.orderdate}</p>
            </div>
            <div class="col-3 itemContainer muteContent">
                <p class="itemContent">${this.order.customerid}</p>
            </div>
            <div class="col-2 itemContainer muteContent">
                <p class="itemContent" id="status-title-${this.order._id}">${this.order.status}</p>
            </div>
            <div class="col-2 itemContainer d-flex align-items-center flex-row-reverse p-0 mr-0 muteContent">
                <button class="btn btn-dark btn-sm btnDetails" id="orderDetails-${this.order._id}" value="Open">
                    Öppna detaljer
                </button>
            </div>
        </div>
        <div class="collapse p-2 bg-dark" id="${this.order._id}">
            <div class="row p-2">
                <p class="col-6"><u>Orderdetaljer</u></p>
            </div>
            
            <div class="row p-2">
                <div class="col-3">
                    <p>
                        <b>Namn:</b>
                        ${this.order.customerid}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        <b>Pris:</b>
                        ${this.order.price} SEK
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        <b>VAT:</b>
                        ${this.order.vat} SEK
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        <b>${this.order.products.length == 1 ? 'Produkt' : 'Produkter'}:</b> ${this.order.products.toString()}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        <b>Beordrade Datum:</b> ${this.order.orderdate}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        <b>Behandlad Datum:</b> ${this.order.orderdate}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        <b>Skickad Datum:</b> ${this.order.orderdate}
                    </p>
                </div>
                <div class="col-12">
                    <div class="card card-body border-0 p-0">
                        <div class="progress" id="progress-${this.order._id}">
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-2">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle changeOrderStatus" type="button" id="changeOrderStatus-${this.order._id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ändra status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="changeOrderStatus" id="changeOrderStatusOption-${this.order._id}">
                            <button class="dropdown-item">Mottagen</button>
                            <button class="dropdown-item">Behandlad</button>
                            <button class="dropdown-item">Skickad</button>
                            <button class="dropdown-item">Levererad</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </li>
     
`;}});
