Object.assign(HeaderButton.prototype, { template3(){ return `
  <div class="btn-group mr-1" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Login
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="pop dropdown-item pop mt-3" data-toggle="tooltip" title="Admin" href="/admin">Admin</a>
      <input type="submit" class="dropdown-item logout mt-3" id="logoutBtn" value="Logga ut" onclick="location.href='/';" ></input>
    </div>
  </div>
    `;}});