* {
  outline: none!important;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
button {
  cursor: pointer;
  background: #ff6347;
}
button:hover {
  background: #ff9579;
}
main .product-avatar > div > div {
  overflow: hidden;
}
main .product-avatar button {
  display: block;
  width: 40%;
}
main .product-avatar .product-title {
  font-weight: bold;
}
.line {
  height: 50px;
  width: 100%;
  border-top: 1px solid #1f1209;
}
.carousel-item {
  height: 400px;
}
.banner-row {
  background-color: black;
}
