body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
button {
  cursor: pointer;
}
main .product-avatar > div > div {
  overflow: hidden;
}
main .product-avatar button {
  background: tomato;
  display: block;
  width: 40%;
}
